h1{
  font-family: 'Sacramento', cursive;
  color : #DE8496;
  font-size: 4em;
  padding-top:0.25em;
  padding-left:0.25em;
}

h2{
  font-family: 'Sacramento', cursive;
  font-family: 'Open Sans', sans-serif;
  color: #DE8496;
  font-size: 2em;
  line-height: 0px;
  padding-left: 1em;
}

h3{
  font-family: "sacramento";
  color : #DE8496;
  font-size: 3em;
  padding-top:0.25em;
  padding-left:0.25em;
}

h4{
  font-family: "Open sans";
  color: #DE8496;
  font-size: 1.5em;
  line-height: 0px;
  padding-left: 1.5em;
  margin-bottom: 25px;
}



.loupe{
  width: 30px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 70px;
}
.langue{
  width: 70px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}
.panier{
  width: 50px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}
.champ{
  width: 200px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}

.lien{
  line-height: 100px;
  margin-left: 30px;
  color: #de8496;
}

img{
  width: 300px;
}

nav .menu {
  border-radius: 10px;
}
nav ul li a  {
  color:#de8496;

}

nav ul li a:hover{
  background: #de8496;
  color: white;
}
.top-bar{
  background-color: white;
}
.top-bar-left ul {
  background-color: white;
  justify-content: space-around;
}
.top-bar-right ul {
  background-color: white;
}
.top-bar-right input {
  margin-right: 1px;
}
.top-bar-left a{
  color: black;
  border: solid #de8496 1px;
  border-radius: 10px;
  justify-content: space-between;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: black transparent transparent;
}
.button {
  background: #de8496;
}
.is-dropdown-submenu{
  border: 0;
}
.top-bar-left ul{
  margin-top: 30px;
}
.dropdown.menu.menu.verticale a{
  list-style-type: circle;
}
.reseaux{
 width: 50px;
 margin-top: 30px;
}

#flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;

}
.nbs-flexisel-ul {
    position:relative;
    width:1000%;
    max-height :585px;
    margin:0px ;
    padding:0;
    list-style-type:none;
    text-align:center;
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    z-index: 1;

}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;

}
.nbs-flexisel-item img {
    width: 62%;
    cursor: pointer;
    position: relative;
    margin:10px;
    align-items: center;
}

/*** Navigation ***/

.previous,.next {
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}

.previous {
    left: 300px;
}

.next {
  right: 300px;
}

.previous{
  width:0px;
  border:20px solid transparent;
  border-right:20px solid #de8496;
}

.next {
  width:0;
  border:20px solid transparent;
  border-left:20px solid #de8496;

}

.previous.disabled{
  opacity:0.4;
}

.next.disabled{
  opacity:0.4;
}
