h1{
  font-family: "sacramento";
  color : #DE8496;
  font-size: 4em;
  padding-top:0.25em;
  padding-left:0.25em;
}

h2{
  font-family: "Open sans";
  color: #DE8496;
  font-size: 2em;
  line-height: 0px;
  padding-left: 1em;
}
.loupe{
  width: 30px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 70px;
}
.langue{
  width: 70px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}
.panier{
  width: 50px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}
.champ{
  width: 200px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}
<<<<<<< HEAD
/*
.grid-container{
  border: solid black 2px;
}

.large-6{
  border: solid pink 2px;
}

.grid-x.grid-padding-x{
  border: solid red 1px;
  width: 100%;
}

.large-12{
  border: solid green 1px;
}

.large-9{
  border: solid yellow 2px;
}

.large-3{
  border: solid purple 2px;
}
*/

img{
  width: 300px
}


nav .menu {
  border-radius: 10px;
}
nav ul li a  {
  color:#de8496;

}
nav ul{
box-shadow: 0px -3px 58px -6px rgba(222,132,150,1);
}
nav ul li a:hover{
  background: #de8496;
  color: white;
}
.top-bar{
  background-color: white;
}
.top-bar-left ul {
  background-color: white;
  justify-content: space-around;
}
.top-bar-right ul {
  background-color: white;
}
.top-bar-right input {
  margin-right: 1px;
}
.top-bar-left a{
  color: black;
  border: solid #de8496 1px;
  border-radius: 10px;
  padding: 2px;
  justify-content: space-between;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: black transparent transparent;
}
.button {
  background: #de8496;
}
.is-dropdown-submenu{
  border: 0;
}
.top-bar-left ul{
  margin-top: 30px;
}
.dropdown.menu.menu.verticale a{
  list-style-type: circle;
