h1{
  font-family: 'Sacramento', cursive;
  color : #DE8496;
  font-size: 3em;
  padding-top:0.25em;
  padding-left:1.5em;
}

h2{

  font-family: 'Open Sans', sans-serif;
  color: #DE8496;
  font-size: 1em;
  line-height: 0px;
  padding-left: 2.5em;
}

h3{
  font-family: "sacramento";
  color : #DE8496;
  font-size: 2.5em;
  padding-top:0.25em;
  padding-left:50px;
}

h4{
  font-family: "Open sans";
  color: #DE8496;
  font-size: 0.75em;
  line-height: 0px;
  padding-left: 2.75em;
  margin-bottom: 25px;
}

.drapeaux{
  width: 40px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-left:50px;
  margin-right: 30px;
}

.loupe{
  width: 40px;
  display: block;
  float: left;
  margin-top: 40px;
}


.panier{
  width: 50px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}
.champ{
  width: 200px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}

.liketext{
  width: 400px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}


.exigence{
  color: #DE8496;
  font-size: 25px;
  margin-left: 15px;
}



input{
  background-color: #de8496;
  width: 110px;
  color: white;
}





.lien{
  line-height: 100px;
  margin-left: 30px;
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.like{
  width: 100px;
  display: flex;
  margin-top: 5px;
  margin-left: 150px;
}


.relative{
  position: relative;
}


.atelier{
  border: 2px solid #de8496;
  border-radius: 10px;
  width: 500px;
  margin-left: 35px;
  margin-top: 60px;
  position: absolute;

}


.atelierbis{
  border: 1px solid #de8496;
  border-radius: 10px;
  width: 500px;
  display: block;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}


.ateliertext{
  position: absolute;
  margin-top: 15%;
  margin-left: 35%;
  font-family: 'Open Sans', sans-serif;
}

.ateliertextbis{
  position: absolute;
  margin-left: 5%;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}


.ateliertextun{
  position: absolute;
  margin-top: 35%;
  margin-left: 25%;
  font-family: 'Open Sans', sans-serif;
}
.ateliertextdeux{
  position: absolute;
  margin-top: 35%;
  margin-left: 85%;
  font-size: 40px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.ateliertextbisdeux{
  position: absolute;
  margin-left: 35%;
  margin-top: 16%;
  font-size: 40px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}




.fond{
  background-color: #F2F2F2;
}


.cadeaux{
  width: 280px;
  margin-left: 7px;
  padding: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.icon{
  width: 60px;
  display: flex;
  float: left;
  margin: 20px;
  line-height: 20px;
}

.ic{
  font-size: 15px;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.ico{
  font-size: 15px;
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
}


.email{
  display: block;
  float: left;
  width: 120px;
  margin-top: 30px;
  margin-left: 10px;
  width: 160px;
}
.inscrire{
  display: block;
  float: right;
  margin-top: 30px;
  margin-right: 10px;
  height: 40px;
}

.fr{
  width: 150px;
  display: block;
  margin: 0 auto;
}

.composants{
  margin-top: 15%;
  margin-left: 5%;
}



.mur{
  width: 300px;
  margin-bottom: 10px;
  margin-left: 65px;
}

.insta{
  display: block;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  padding: 15px;

}

.instatext{
  font-size: 50px;
  font-family: 'Sacramento', cursive;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #de8496;
  width: 500px;
  border-radius: 10px;
}


.footer-un{
  border: solid 1px #de8496;
}

.footer-deux{
  border: solid 1px #de8496;
  border-top: none;
}


.reseaux{
 width: 30px;
 margin-top: 30px;
 margin-left: 20px;
}

nav .menu {
  border-radius: 10px;
}
nav ul li a  {
  color:#de8496;

}

nav ul li a:hover{
  background: #de8496;
  color: white;
}
.top-bar{
  background-color: white;
}
.top-bar-left ul {
  background-color: white;
  justify-content: space-around;
}
.top-bar-right ul {
  background-color: white;
}
.top-bar-right input {
  margin-right: 1px;
}
.top-bar-left a{
  color: black;
  border: solid #de8496 1px;
  border-radius: 10px;
  justify-content: space-between;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: black transparent transparent;
}
.button {
  background: #de8496;
}
.is-dropdown-submenu{
  border: 0;
}
.top-bar-left ul{
  margin-top: 30px;
}
.dropdown.menu.menu.verticale a{
  list-style-type: circle;
}


#flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;

}
.nbs-flexisel-ul {
    position:relative;
    width:1000%;
    max-height :500px;
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0;
    padding:0;
    position:relative;
}

.nbs-flexisel-item img {
    width: 100%;
    cursor:wait;
    position: relative;
    margin:0;
    align-items: center;
}

/*** Navigation ***/

.previous,.next {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
}

.previous {
  left: 0%;
  border:20px solid transparent;
  border-right:20px solid black;
}

.next {
  right: 0%;
  border:20px solid transparent;
  border-left:20px solid black;
}

.previous.disabled{
  opacity:0.4;
}

.next.disabled{
  opacity:0.4;
}
