h1{
  font-family: "sacramento";
  color : #DE8496;
}

h2{
  font-family: "Open sans";
  color: #DE8496;
}


.grid-container{
  border: solid black 2px;
}

.large-6{
  border: solid pink 2px;
}

.grid-x.grid-padding-x{
  border: solid red 1px;
}

.grid-x.grid-margin-x{
  border: solid red 1px;
  width: 100%;
}

.large-12{
  border: solid green 1px;
}

.large-9{
  border: solid yellow 2px;
}

.large-3{
  border: solid purple 2px;
}
<<<<<<< HEAD
nav ul li a  {
  color:#de8496;
}
nav ul li a:hover{
  background: #de8496;
  color: white;

}
=======

>>>>>>> 1da9ebca2b9f65fb99fa21e76cfad2c88c56e42a
