h1{
  font-family: 'Sacramento', cursive;
  color : #DE8496;
  font-size: 4em;
  padding-top:0.25em;
  padding-left:0.25em;
}

h2{
  font-family: 'Sacramento', cursive;
  font-family: 'Open Sans', sans-serif;
  color: #DE8496;
  font-size: 2em;
  line-height: 0px;
  padding-left: 1em;
}

h3{
  font-family: "sacramento";
  color : #DE8496;
  font-size: 3em;
  padding-top:0.25em;
  padding-left:0.25em;
}

h4{
  font-family: "Open sans";
  color: #DE8496;
  font-size: 1.5em;
  line-height: 0px;
  padding-left: 1.5em;
  margin-bottom: 25px;
}



.loupe{
  width: 30px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 70px;
}
.langue{
  width: 70px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}
.panier{
  width: 50px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}
.champ{
  width: 200px;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 20px;
}

.lien{
  line-height: 100px;
  margin-left: 30px;
  color: #de8496;
}

img{
  width: 300px
}


nav .menu {
  border-radius: 10px;
}
nav ul li a  {
  color:#de8496;

}
nav ul{
box-shadow: 0px -3px 58px -6px rgba(222,132,150,1);
}
nav ul li a:hover{
  background: #de8496;
  color: white;
}
.top-bar{
  background-color: white;
}
.top-bar-left ul {
  background-color: white;
  justify-content: space-around;
}
.top-bar-right ul {
  background-color: white;
}
.top-bar-right input {
  margin-right: 1px;
}
.top-bar-left a{
  color: black;
  border: solid #de8496 1px;
  border-radius: 10px;
  padding: 2px;
  justify-content: space-between;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: black transparent transparent;
}
.button {
  background: #de8496;
}
.is-dropdown-submenu{
  border: 0;
}
.top-bar-left ul{
  margin-top: 30px;
}
.dropdown.menu.menu.verticale a{
  list-style-type: circle;
}
.reseaux{
 width: 50px;
 margin-top: 30px;
}
